.rating-box{
    background-color: #ddd;
    max-width: 600px;
    margin:40px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.rating-box .ratings .fa{
    font-size: 40px;
    color:#FF9800;
    float: left;
    cursor: pointer;
}